<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Speech Recognition with Flask</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>

    <body class="">
        <div class="container">
            <div id="speech_recognition">

                <h1 class="" >Upload Here</h1>
                <form action="" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
                    <input class="" type="file" name="file" id="file" value="" />
                    <br />
                    <!--input type="submit" name="" class="" value="transcribe" /-->
                    <button class="btn btn-primary" type="submit">transcribe</button>
                </form>
                
                {% if transcript != "" %}
                <div id="speech_transcribe_container">
                    <h1>Transcript</h1>
                    <p class="">{{ transcript }}</p>
                </div>
                {% endif %}

            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    </body>

</html>