{% extends "base.html" %}

{% block title %}AudioTranscribe{% endblock %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}


{% block content %}
    <h1>AudioTranscribe</h1>
    <p>Bring your audio file to text.</p>
    <p>Support file format: .ogg .mp3 .wav</p>

    <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="audiofile" id="" accept="audio/*">
        <br>
        <input type="radio" name="language" id="en" value="en-US" checked>
        <label for="en">English</label>
        <br>
        <input type="radio" name="language" id="id" value="id-ID">
        <label for="id">Indonesian</label>
        <br>

        <input type="submit" value="Transcribe" disabled>
    </form>


<div class="result">
    <h2>Result</h2>
    {% if text %}
        <p>{{ text }}</p>
    {% endif %}
</div>

{% endblock %}
